{"filter":false,"title":".editorconfig","tooltip":"/biker/.editorconfig","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":true},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1675177509000,"hash":"6db0651adeff73498043af4ae28b9818b62dccbf"}